{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },

  "extends": ["airbnb", "prettier", "plugin:node/recommended"],

  "rules": {
    "no-console": "off",
    "class-methods-use-this": "off",
    "prefer-const": "off",
    "no-underscore-dangle": "off",
    "no-process-exit": "off",
    "consistent-return": "off",
    "camelcase": "warn"
  }
}
